version: 2.1

parameters:
  cache-generation:
    type: integer
    default: 4

orbs:
  win: circleci/windows@5.0
  codecov: codecov/codecov@3

environment:
  PIP_PROGRESS_BAR: 'off'

jobs:
  test-linux:
    parameters:
      python-version:
        type: string
      # package requirements; default to no-update
      dimod-preprocessing-version:
        type: string
        default: ''
      system-client-version:
        type: string
        default: ''

    docker:
      - image: cimg/python:<< parameters.python-version >>

    steps:
      - checkout

      - restore_cache: &restore-cache-env
          key: v<< pipeline.parameters.cache-generation >>-pip-{{ checksum "requirements.txt" }}-{{ checksum "tests/requirements.txt" }}-{{ .Environment.CIRCLE_JOB }}

      - run: &create-virtualenv
          name: Create virtual environment
          command: |
            python -V
            python -m venv env

      - run: &install-requirements
          name: Install requirements
          command: |
            . env/bin/activate
            pip install -U pip setuptools
            pip install -r requirements.txt -r tests/requirements.txt
            pip install dwave-inspectorapp --extra-index=https://pypi.dwavesys.com/simple
            pip install wheel twine

      - save_cache: &save-cache-env
          key: v<< pipeline.parameters.cache-generation >>-pip-{{ checksum "requirements.txt" }}-{{ checksum "tests/requirements.txt" }}-{{ .Environment.CIRCLE_JOB }}
          paths:
            - env

      - when:
          condition: << parameters.dimod-preprocessing-version >>
          steps:
            - run:
                name: Install appropriate dimod/preprocessing version
                command: |
                  . env/bin/activate
                  pip uninstall -y dimod dwave-preprocessing
                  pip install << parameters.dimod-preprocessing-version >>

      - when:
          condition: << parameters.system-client-version >>
          steps:
            - run:
                name: Install appropriate dwave-system/dwave-cloud-client version
                command: |
                  . env/bin/activate
                  pip uninstall -y dwave-system dwave-cloud-client
                  pip install << parameters.system-client-version >>

      - run: &build-package
          name: Build package
          command: env/bin/python setup.py sdist bdist_wheel

      - when:
          condition:
            matches:
              pattern: "^3\\.9.*$"    # can't do "^3\\.9" only due to (likely) circleci regex matching bug
              value: << parameters.python-version >>
          steps:
            - persist_to_workspace:
                root: dist
                paths: .

      - run: &install-package
          name: Install package
          command: env/bin/pip install .

      - run: &run-python-tests
          name: Run python tests
          command: |
            . env/bin/activate
            coverage run -m unittest discover
            coverage xml

      - codecov/upload: &upload-python-code-coverage
          file: coverage.xml

  test-macos:
    parameters:
      python-version:
        type: string
      xcode:
        type: string
        default: "14.2.0"

    macos:
      xcode: << parameters.xcode >>

    steps:
      - checkout

      - run: &brew-install-pyenv
          name: Install pyenv
          command: brew install pyenv

      - restore_cache: &restore-cache-pyenv
          keys:
            - v<< pipeline.parameters.cache-generation >>-pyenv-{{ .Environment.CIRCLE_JOB }}-xcode-<< parameters.xcode >>

      - run: &pyenv-install-python
          name: Install python
          command: pyenv install << parameters.python-version >> -s

      - run: &pyenv-set-system-python
          name: Set system python
          command: |
            echo -e '\n\n# Initialize pyenv' >> ~/.bash_profile
            echo 'eval "$(pyenv init --path 2>/dev/null || true)"' >> ~/.bash_profile
            echo 'eval "$(pyenv init -)"' >> ~/.bash_profile
            pyenv global << parameters.python-version >>

      - save_cache: &save-cache-pyenv
          key: v<< pipeline.parameters.cache-generation >>-pyenv-{{ .Environment.CIRCLE_JOB }}-xcode-<< parameters.xcode >>
          paths:
            - ~/.pyenv

      # install dependencies and cache them
      - restore_cache: *restore-cache-env

      - run: *create-virtualenv

      - run: *install-requirements

      - save_cache: *save-cache-env

      - run: *install-package

      - run: *run-python-tests

  test-windows:
    parameters:
      python-version:
        type: string

    executor:
      name: win/default

    steps:
      - checkout

      - run:
          name: Install python and create virtualenv
          shell: bash -eo pipefail
          command: |
            # resolve python MAJOR.MINOR version to latest MAJOR.MINOR.PATCH version available on NuGet
            full_version=$(
              curl -s 'https://azuresearch-usnc.nuget.org/query?q=python' \
              | jq -r '.data[] | select(.id == "python") .versions[] | .version' \
              | awk -F. -v ver='<< parameters.python-version >>' \
                  'index($0, ver".") == 1 && $3 > m { m = $3; v = $0 } END { print v }'
            )
            nuget install python -Version "$full_version" -ExcludeVersion
            python/tools/python -V
            python/tools/python -m venv env

      - run:
          name: Install requirements
          command: |
            env\Scripts\activate.ps1
            pip install -U pip
            pip install -r requirements.txt -r tests\requirements.txt
            pip install dwave-inspectorapp --extra-index=https://pypi.dwavesys.com/simple

      - run:
          name: Install package
          command: |
            env\Scripts\activate.ps1
            python setup.py install

      - run:
          name: Run tests
          command: |
            env\Scripts\activate.ps1
            coverage run -m unittest discover

  test-docs:
    docker:
      - image: cimg/python:3.9

    steps:
      - checkout

      - restore_cache: &restore-cache-docs
          key: v<< pipeline.parameters.cache-generation >>-pip-{{ checksum "requirements.txt" }}-{{ checksum "docs/requirements.txt" }}-{{ .Environment.CIRCLE_JOB }}

      - run: *create-virtualenv

      - run: &install-requirements-docs
          name: Install requirements
          command: |
            . env/bin/activate
            pip install -U pip setuptools
            pip install -r requirements.txt -r docs/requirements.txt
            pip install dwave-inspectorapp --extra-index=https://pypi.dwavesys.com/simple

      - save_cache: &save-cache-docs
          key: v<< pipeline.parameters.cache-generation >>-pip-{{ checksum "requirements.txt" }}-{{ checksum "docs/requirements.txt" }}-{{ .Environment.CIRCLE_JOB }}
          paths:
            - env

      - run: *install-package

      - run: &build-docs
          name: Build docs
          command: |
            . env/bin/activate
            make -C docs/ html

      - store_artifacts:
          path: ./docs/build/html

      - run: &run-doctest
          name: doctest
          command: |
            . env/bin/activate
            make -C docs/ doctest

      - run: &run-linkcheck
          name: linkcheck
          command: |
            . env/bin/activate
            make -C docs/ linkcheck

  pypi-deploy:
    docker:
      - image: cimg/python:3.9

    steps:
      - checkout

      - restore_cache: *restore-cache-env

      - run: *create-virtualenv

      - run: *install-requirements

      - save_cache: *save-cache-env

      - run: *build-package

      - store_artifacts:
          path: ./dist

      - run:
          name: Upload package to PyPI
          command: env/bin/twine upload -u "$PYPI_USERNAME" -p "$PYPI_PASSWORD" --skip-existing ./dist/*

workflows:
  test-deploy:
    jobs:
      - test-linux:
          name: test-linux-<< matrix.python-version >> | << matrix.dimod-preprocessing-version >>
          matrix:
            parameters:
              python-version: &python-versions ["3.8", "3.9", "3.10", "3.11"]
              dimod-preprocessing-version:
                - "dimod~=0.10.0 dwave-preprocessing~=0.3.0"
                - "dimod~=0.11.0 dwave-preprocessing~=0.4.0"
                - "dimod~=0.12.0 dwave-preprocessing~=0.5.0"
            exclude:
              # dimod < 0.12 not supported on py311+
              - python-version: "3.11"
                dimod-preprocessing-version: "dimod~=0.10.0 dwave-preprocessing~=0.3.0"
              - python-version: "3.11"
                dimod-preprocessing-version: "dimod~=0.11.0 dwave-preprocessing~=0.4.0"
          context: &ctx-build "ocean-build"
          filters: &always-run  # run on `tags` in addition to `branches` default (deploy dep)
            tags:
              only: /.*/

      - test-linux:
          name: test-linux-<< matrix.python-version >> | << matrix.system-client-version >>
          matrix:
            alias: system-client-sweep
            parameters:
              python-version: *python-versions
              system-client-version:
                - "dwave-system~=1.3.0 dwave-cloud-client==0.8.3"
                - "dwave-system~=1.8.0 dwave-cloud-client==0.8.7"
                - "dwave-system~=1.9.0 dwave-cloud-client==0.9.0"
                - "dwave-system~=1.0"
            exclude:
              # dwave-system>=1.11 required for py310
              - python-version: "3.10"
                system-client-version: "dwave-system~=1.3.0 dwave-cloud-client==0.8.3"
              - python-version: "3.10"
                system-client-version: "dwave-system~=1.8.0 dwave-cloud-client==0.8.7"
              - python-version: "3.10"
                system-client-version: "dwave-system~=1.9.0 dwave-cloud-client==0.9.0"
              # dwave-system>=1.16 required for py311
              - python-version: "3.11"
                system-client-version: "dwave-system~=1.3.0 dwave-cloud-client==0.8.3"
              - python-version: "3.11"
                system-client-version: "dwave-system~=1.8.0 dwave-cloud-client==0.8.7"
              - python-version: "3.11"
                system-client-version: "dwave-system~=1.9.0 dwave-cloud-client==0.9.0"
          context: *ctx-build
          filters:
            <<: *always-run

      - test-macos:
          matrix:
            parameters:
              python-version: *python-versions
          context: *ctx-build
          filters:
            <<: *always-run

      - test-windows:
          matrix:
            parameters:
              python-version: *python-versions
          context: *ctx-build
          filters:
            <<: *always-run

      - test-docs:
          context: *ctx-build
          filters:
            <<: *always-run

      - pypi-deploy:
          requires:
            - test-linux
            - test-macos
            - test-windows
          context: ocean-publish
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+)*((\.dev|rc)([0-9]+)?)?$/
            branches:
              ignore: /.*/
